#game {
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  perspective: 1000px;
} 

#game div{
width:  6em;
height: 6em;
margin: 0.5em;
position: relative;
margin: 1em;
display: flex;
transform: scale(1);
transform-style: preserve-3d;
background-color: aqua;
}

#game div:active{
transform: scale(0.97);
transition: transform 0.2s;
}

#game div.flip{
transform: rotateY(180deg);
}

img{
width: 7em;
height: 7em;
}

.front-face ,.back-face{
width: 100%;
height: 100%;
position: absolute;
border-radius: 0.2em;
backface-visibility: hidden;
}
.back-face{
transform: rotateY(180deg);
}

header{
display: flex;
background-color: burlywood;
justify-content: center;
align-items: center;
height: 13vh;
width: 100%;
}
header div{
font-weight: 900;
font-size: x-large;
}

.body{
width: 100%;
display: flex;
}

.detail{
width: 20vw;
height: 80vh;
display: flex;
}

.Tag{
width: 100%;
height: 15em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1em;
}

.Tag .Name {
width: 100%;
display: flex;
justify-content: center;
font-weight: 900;
font-size: x-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-bottom: 1em;
border-radius: 0.01em;
border: none;
outline: none;
}

.Tag .inputbutton{
width: 8em;
height: 2em;
display: flex;
justify-content: center;
align-self: center;
font-weight: 200;
font-size: large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 1em;
border: none;
outline: none;
margin-top: 1em;
margin-bottom: 1em;
}

.Tag .inputbutton:active{
background-color: blue;

}

.Tag .inputbar{
width: 80%;
height: 2em;
border-radius: 0.01em;
}

.Tag .Score{
font-weight: 500;
font-size: x-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Tag .BestTimeValue{
font-weight: 300;
font-size: large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.feature{
display: flex;
justify-content: center;
flex-direction: column;
margin: auto;
}

.contents{
display: flex;
justify-content: space-between;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 200;
}
